// Inherits from layout
extend layout
// Then we produce a form that triggers /doping_athletes once
// the user hits Submit
block navbarcontent
    +nav_item("/","active") Home
    +nav_item("/statistics") Aggregate Statistics
    +nav_item("/doping_athletes?name=") Doping Athletes by Country
    +nav_item("/doping_medalists?name=") Doping Medalists by Country
    +nav_item("/corruption") Corruption

block content
  h1.
    Welcome.

  p.
    On the Statistics page, you can find interesting stats about Olympic doping scandals over the years. For a more interactive look, please begin by entering a country in the search field. You will then see all Olympic doping scandals with athletes from that country.

  p
    +icon-primary("search")
    |  #{title}:
    form(method='get', action='/doping_athletes')
      select(name = "name")
        - for (var inx = 0; inx < countries.length; inx++)
          option #{countries[inx].name}
      input(type='submit', value='Submit')
