extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    // Custom styles for this template
    link(href='/stylesheets/style.css', rel='stylesheet')
block body
    // Static navbar
    +navbar("Group 6 Final Project", "dropdown_menu")
        block navbarcontent
    .container
        .jumbotron
            .main-content
                block content
    footer.footer
        .container
            p.text-muted Created by Amelia Goodman, Meriah O'Neil, and Emma Cordano
