body{
    background-color: #FFFFFF;
}

.navbar {
    background-color: #1D1E18;
    border-style: none;
}

.navbar li {
    list-style: none;
    margin: auto;
    display: inline;

}

.navbar li a:hover {
    color: #D9FFF5 !important;
}

.jumbotron {
    background-color: #98B9F2;
    width: 100%;
}

.footer>.container>p {
    color: #1C5D99;
}

#title {
    font-size: 1.2em;
    width: 100%;
    color: white;
    background-color: #526797;
}

td {
  padding: 10px;
}

#tweet {
width: 400px !important;
}

#tweet iframe {
border: none !important;
box-shadow: none !important;
}

.twitter-timeline {
    padding-left: 15% !important;
    width: 90% !important;
}

#chart_div_drugs {
    width: 1000px !important;
}
